page-home {
    .check-list {
        background-color: $main-color;
       .chec-list-header {
            text-align: center;
            font-size: 17px;
       }
       .item {
           background-color: inherit;
       }
}
}
